{% load static %}
{% load foundation_tags %}
<!doctype html>
<html {{ html_attr|safe }}class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %}{% endblock meta %}
    {% block base_title %}
    <title>{% block title %}{% endblock title %}</title>
    {% endblock base_title %}

    {# Base Foundation CSS #}
    {% block foundation_css %}
    {% foundation_css "normalize" %}
    {% foundation_css "foundation.min" %}
    {% endblock foundation_css %}  
    
    {# Custom CSS #}
    {% block css %}{% endblock css %}

    {# Override if you need another version of modernizr #}
    {% block foundation_modernizer %}
    {% foundation_vendor "modernizr" %}
    {% endblock foundation_modernizer %}

    {# Custom head JS #}
    {% block head_js %}{% endblock head_js %}
</head>

<body {% block body_attr %}{% endblock body_attr %}>
    {# Main content goes here #}
    <div class="contain-to-grid sticky">
    {% include "blogengine/includes/blog_nav.html" %}
    </div>
    {% block content %} {% endblock content %}
    {% block base_body %}{% endblock base_body %}
    {# Override if you need another version of jQuery #}
    {% block foundation_jquery %}
    {% foundation_vendor "jquery" %}
    {% endblock foundation_jquery %}

    {# Foundation JS #}
    {% block foundation_js %}
    {% foundation_js %}
    {% endblock foundation_js %}

    {# Custom JS #}
    {% block body_js %}{% endblock body_js %}

    {# Init Foundation #}
    {% block foundation_js_init %}
    <script>
        $(document).foundation();
    </script>
    {% endblock foundation_js_init %}
            <div class="container footer">
            <div class="row">
                <div class="span12">
                    <p>Copyright &copy; {% now "Y" %}</p>
                </div>
            </div>
        </div>
</body>
</html>